<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<!--Connection Strings ######################################################################################################################### -->
			<object name="ConnectionString" type="String">
				<constructor-arg value="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=oragonserverbridge;User ID=OragonExamples;Password=OragonExamples;Connect Timeout=2000; pooling='true'; Max Pool Size=1000;Application Name=CodeGenerator" />
			</object>

			<alias name="GenerationContainer" alias="Main"/>

			<object name="BaseNamespace" type="System.String">
				<constructor-arg value="Oragon.Architecture.Samples02.Data" />
			</object>

			<object name="NameStretegy" type="Oragon.CodeGen.MetaData.Plugin.iMusicaNameStretegy, Oragon.CodeGen.MetaData.Domain" >
				<property name="LanguageConvention" ref="LanguageConvention" />
				<property name="Dictionary">
					<list element-type="String">
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
					</list>
				</property>
				<property name="FKConvention">
					<dictionary key-type="String" value-type="String">
						<!--<entry key="CURRENCY.FK_EXCHANGE_CURRENCY_DESTINY" value="DestinyExchanges" />
						<entry key="EXCHANGE.FK_EXCHANGE_CURRENCY_DESTINY" value="DestinyCurrency" />

						<entry key="CURRENCY.FK_EXCHANGE_CURRENCY_SOURCE" value="SourceExchanges" />
						<entry key="EXCHANGE.FK_EXCHANGE_CURRENCY_SOURCE" value="SourceCurrency" />-->
					</dictionary>
				</property>
				
			</object>

			<object name="LanguageConvention" type="Oragon.CodeGen.MetaData.Plugin.EnglishLanguageConvention, Oragon.CodeGen.MetaData.Domain" />

			<object name="MyMetaDomainConverterWrapper" type="Oragon.CodeGen.MetaData.MyMetaDomainConverterWrapper, Oragon.CodeGen.MetaData.Domain">
				<property name="DataBaseName" value="OragonExamplesDB" />
				<property name="ConnectionString" ref="ConnectionString" />
				<property name="DbDriver" value="SQL" />
				<property name="Language"  value="C#" />
				<property name="LanguageMappingFileName" value="Languages.xml" />
			</object>
			
			<object name="GenerationContainer" type="Oragon.CodeGen.Templating.GenerationContainer, Oragon.CodeGen.Templating">
				<property name="Templates">
					<list element-type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
						<!--###################################-->
						<!--Entidades-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Entities.tt"/>
							<property name="OutputPath" value="..\..\Oragon.Architecture.Samples02.Data\Entity\[BusinessEntity].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						
						<!--###################################-->
						<!--Data Process-->
						<!--###################################-->
						
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.DataProcess.tt"/>
							<property name="OutputPath" value="..\..\Oragon.Architecture.Samples02.Data\Process\[DataProcess].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						
						<!--###################################-->
						<!--Mappings-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Mappings.tt"/>
							<property name="OutputPath" value="..\..\Oragon.Architecture.Samples02.Data\Mapping\[FluentNhibernateMappings].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
					</list>
				</property>
			</object>

			<object name="MetadataAnalyser" type="Oragon.CodeGen.MetaData.MetadataAnalyser, Oragon.CodeGen.MetaData.Domain">
				<property name="CanInsert" value="true" />
				<property name="CanUpdate" value="true" />
				<property name="CanDelete" value="true" />
				<property name="IgnorePaterns">
					<list element-type="System.String">
						<value>ZTEMP_*</value>						
					</list>
				</property>
				<property name="FilterPaterns">
					<list element-type="System.String">
					</list>
				</property>
			</object>

		</objects>
	</spring>

	<system.runtime.remoting>
	</system.runtime.remoting>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
