<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>
	<appSettings>

	</appSettings>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects
		  xmlns="http://www.springframework.net"
		  xmlns:wcf="http://www.springframework.net/wcf"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xmlns:aop="http://www.springframework.net/aop"
      >

			<!--##########################################################################################################################################-->
			<!--Host de Serviços-->
			<!--##########################################################################################################################################-->
			<object id="MainService" type="Oragon.Architecture.Services.ServiceContainer, Oragon.Architecture.Services">
				<property name="Services">
					<list element-type="Oragon.Architecture.Services.IService, Oragon.Architecture.Services">

						<object type="Oragon.Architecture.Services.SpringServices.GenericStartUpService, Oragon.Architecture.Services">
							<property name="HandlerObject" ref="CacheService" />
							<property name="StartMethodName" value="BuildCache" />
						</object>

						<object type="Oragon.Architecture.Services.SpringServices.GenericStartUpService, Oragon.Architecture.Services">
							<property name="HandlerObject" ref="LuceneServer" />
							<property name="StartMethodName" value="Open" />
							<property name="StopMethodName" value="Close" />
						</object>


						<object type="Oragon.Architecture.Services.SpringServices.GenericStartUpService, Oragon.Architecture.Services">
							<property name="HandlerObject" ref="MessageListenerContainer_SQLWrite" />
							<property name="StartMethodName" value="Start" />
							<property name="StopMethodName" value="Stop" />
						</object>

						<object type="Oragon.Architecture.Services.SpringServices.GenericStartUpService, Oragon.Architecture.Services">
							<property name="StartMethodName" value="Start" />
							<property name="StopMethodName" value="Shutdown" />
							<property name="HandlerObject" >
								<object type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz20">
									<property name="AutoStartup" value="false" />
									<property name="triggers">
										<list>
											<ref object="QuartzTriggerSincronizarLogs"/>
										</list>
									</property>
								</object>
							</property>

						</object>

					</list>
				</property>
			</object>

			

			<!--##########################################################################################################################################-->
			<!--Service-->
			<!--##########################################################################################################################################-->
			<object id="LogService" type="Oragon.Architecture.LogEngine.Service.LogService, Oragon.Architecture.LogEngine.Business" singleton="false">
				<property name="LogBW" ref="LogBusinessWorkflow" />
			</object>
			<object id="CacheService" type="Oragon.Architecture.LogEngine.Service.CacheService, Oragon.Architecture.LogEngine.Business" singleton="false">
				<property name="TagBusinessProcess" ref="TagBusinessProcess" />
			</object>
			<object id="JobService" type="Oragon.Architecture.LogEngine.Service.JobService, Oragon.Architecture.LogEngine.Business" singleton="false">
				<property name="IndexerService" ref="IndexerService" />
			</object>
			<!--##########################################################################################################################################-->
			<!--Business Workflow-->
			<!--##########################################################################################################################################-->
			<object name="LogBusinessWorkflow" type="Oragon.Architecture.LogEngine.Business.Workflow.LogBusinessWorkflow, Oragon.Architecture.LogEngine.Business">
				<property name="LogBP" ref="LogBusinessProcess" />
				<property name="MessageConverterBP" ref="MessageConverterBusinessProcess" />
			</object>
			<object name="IndexerBusinessWorkflow" type="Oragon.Architecture.LogEngine.Business.Workflow.IndexerBusinessWorkflow, Oragon.Architecture.LogEngine.Business">
				<property name="LogBP" ref="LogBusinessProcess" />
				<property name="IndexerBP" ref="IndexerBusinessProcess" />
				<property name="IndexPageSize" value="25" />
				<property name="DropIndexPageSize" value="25" />
			</object>
			<!--##########################################################################################################################################-->
			<!--Business Process-->
			<!--##########################################################################################################################################-->
			<object name="MessageConverterBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.MessageConverterBusinessProcess, Oragon.Architecture.LogEngine.Business" />
			<object name="LogBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.LogBusinessProcess, Oragon.Architecture.LogEngine.Business">
				<property name="EntryDataProcess" ref="LogEntryDataProcess" />
				<property name="LevelDataProcess" ref="LevelDataProcess" />
				<property name="TagBusinessProcess" ref="TagBusinessProcess" />
			</object>
			<object name="TagBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.TagBusinessProcess, Oragon.Architecture.LogEngine.Business">
				<property name="TagValueDataProcess" ref="TagValueDataProcess" />
				<property name="TagDataProcess" ref="TagDataProcess" />
				<property name="TagListSemaphore" >
					<object type="Spring.Threading.Semaphore, Spring.Core">
						<constructor-arg name="initialPermits" value="1" />
					</object>
				</property>
				<property name="TagValueSemaphore" >
					<object type="Spring.Threading.Semaphore, Spring.Core">
						<constructor-arg name="initialPermits" value="1" />
					</object>
				</property>
			</object>
			<object name="IndexerBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.IndexerBusinessProcess, Oragon.Architecture.LogEngine.Business">
				<property name="IndexServer" ref="LuceneServer" />
				<property name="QueryIndexBP" ref="QueryIndexBusinessProcess" />
			</object>
			<object name="QueryIndexBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.QueryIndexBusinessProcess, Oragon.Architecture.LogEngine.Business">
				<property name="IndexServer" ref="LuceneServer" />
			</object>
			<!--##########################################################################################################################################-->
			<!--Data Process-->
			<!--##########################################################################################################################################-->
			<object name="LogEntryDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.LogEntryDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="TagValueDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.TagValueDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="LevelDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.LevelDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="TagDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.TagDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<!--##########################################################################################################################################-->
			<!--AMQP Listener-->
			<!--##########################################################################################################################################-->
			<object id="ConnectionFactory" type="Spring.Messaging.Amqp.Rabbit.Connection.CachingConnectionFactory, Spring.Messaging.Amqp.Rabbit">
				<property name="Host" value="www1.imusica.com.br" />
				<property name="Port" value="5672" />
				<property name="VirtualHost" value="LogEngine" />
				<property name="UserName" value="LogEngineClient" />
				<property name="Password" value="LogEngineClient@123" />
			</object>
			<object id="MessageListenerContainer_SQLWrite" type="Spring.Messaging.Amqp.Rabbit.Listener.SimpleMessageListenerContainer, Spring.Messaging.Amqp.Rabbit">
				<property name="ConnectionFactory" ref="ConnectionFactory" />
				<property name="QueueNames" value="LogEngineSQLWrite.queue" />
				<property name="ConcurrentConsumers" value="1" />
				<property name="MessageListener" >
					<object type="Spring.Messaging.Amqp.Rabbit.Listener.Adapter.MessageListenerAdapter, Spring.Messaging.Amqp.Rabbit">
						<property name="HandlerObject" ref="LogService" />
						<property name="DefaultListenerMethod" value="Handler"/>
					</object>
				</property>
				<!--<property name="TransactionManager">
					<object type="Spring.Messaging.Amqp.Rabbit.Transaction.RabbitTransactionManager, Spring.Messaging.Amqp.Rabbit">
						<constructor-arg name="connectionFactory" ref="ConnectionFactory" />
					</object>
				</property>-->
			</object>
			<!--##########################################################################################################################################-->
			<!-- Lucene Index -->
			<!--##########################################################################################################################################-->
			<object name="LuceneServer" type="Oragon.Architecture.Indexing.LuceneServer, Oragon.Architecture.Indexing">
				<constructor-arg name="indexDirectory" value="C:\Projetos\Oragon@Assembla\trunk\EnterpriseLog\[publish]\LuceneIndex\" />
				<constructor-arg name="luceneAnalyzer">
					<object type="Lucene.Net.Analysis.BR.BrazilianAnalyzer, Lucene.Net.Contrib.Analyzers">
						<constructor-arg name="matchVersion" value="LUCENE_30" />
					</object>
				</constructor-arg>
			</object>
			<!--##########################################################################################################################################-->

			<!--##########################################################################################################################################-->
			<object id="QuartzTriggerSincronizarLogs" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz20">
				<property name="startDelay" value="1m" />
				<property name="repeatInterval" value="5m" />
				<property name="jobDetail">
					<object type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz20">
						<property name="TargetObject" ref="JobService" />
						<property name="TargetMethod" value="Sync" />
						<property name="Concurrent" value="false" />
					</object>
				</property>
			</object>
			<!--##########################################################################################################################################-->

			<!--##########################################################################################################################################-->

			<!--##########################################################################################################################################-->
			<!--AOP-->
			<!--##########################################################################################################################################-->

			<object name="ObjectContextAroundAdvice" type="Oragon.Architecture.AOP.ObjectContextAroundAdvice, Oragon.Architecture" singleton="true">
				<property name="ElevateToSystemTransactionsIfRequired" value="true" />
				<property name="SessionFactoryBuilders">
					<list element-type="Oragon.Architecture.Data.SessionFactoryBuilder, Oragon.Architecture">
						<ref object="LogSessionFactoryBuilder"/>
					</list>
				</property>
				<!--
				<property name="Interceptor">
					<object type="BRQ.SI.Data.Interceptor.AuditInterceptor, BRQ.SI.Business" >
						<property name="Logger" ref="EnterpriseLog" />
						<property name="ProfissionalDP" ref="ProfissionalDataProcess" />
					</object>
				</property>
				-->
			</object>

			<object id="LogSessionFactoryBuilder" type="Oragon.Architecture.Data.SessionFactoryBuilder, Oragon.Architecture">
				<property name="DefaultIsolationLevel" value="ReadCommitted" />
				<property name="TransactionIsolationLevel" value="ReadCommitted" />
				<property name="DefaultFlushMode" value="Never" />
				<property name="TransactionFlushMode" value="Commit" />
				<property name="ObjectContextKey" value="NHContextKey1" />
				<property name="MaxFetchDepth" value="1" />
				<property name="EnabledDiagnostics" value="true" />
				<property name="CommandTimeout" value="1000" />
				<property name="BatchSize" value="50" />
				<property name="ConStrConfigDiscovery">
					<object type="Oragon.Architecture.Data.ConnectionStrings.DefaultConStrConfigDiscovery, Oragon.Architecture">
						<property name="ConnectionStringKey" value="LogEngineSQLServer"/>
					</object>
				</property>
				<property name="TypeNames">
					<list element-type="System.String">
						<value>Oragon.Architecture.LogEngine.Architecture.Mapping.LogEntryMapper, Oragon.Architecture.LogEngine.Business</value>
						<value>Oragon.Architecture.LogEngine.Business.Entity.LogEntry, Oragon.Architecture.LogEngine.Domain</value>
					</list>
				</property>
			</object>


			<object name="ExceptionHandlerAroundAdvice" type="Oragon.Architecture.Log.ExceptionHandlerAroundAdvice, Oragon.Architecture" singleton="true">
				<property name="GenericErrorMessage" value="Não foi possível realizar a operação solicitada. Contate o administrador da aplicação."/>
				<property name="EnableDebug" value="true"/>
				<property name="BusinessExceptionType" value="Oragon.Architecture.Business.BusinessException, Oragon.Architecture"/>
				<property name="Logger">
					<object type="Oragon.Architecture.Log.NLogLogger, Oragon.Architecture" />
				</property>
			</object>


			<object id="serviceOperations" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
				<property name="pattern" value="Oragon.Architecture.LogEngine.Service.*" />
			</object>

			<aop:config>
				<aop:advisor pointcut-ref="serviceOperations" advice-ref="ObjectContextAroundAdvice" />
				<aop:advisor pointcut-ref="serviceOperations" advice-ref="ExceptionHandlerAroundAdvice" />
			</aop:config>







		</objects>
	</spring>
	<!--<system.serviceModel>
		-->
	<!--<bindings>
			<netTcpBinding>
				<binding portSharingEnabled="true">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>-->
	<!--
		<behaviors>
			<serviceBehaviors>
				<behavior name="OragonLogEngineBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					-->
	<!--throttle service-->
	<!--
					<serviceThrottling
								maxConcurrentCalls="10000"
								maxConcurrentSessions="10000"
								maxConcurrentInstances="10000" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="QueryService" behaviorConfiguration="OragonLogEngineBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/OragonEnterpriseLog/QueryService"/>
						<add baseAddress="net.tcp://localhost:8001/OragonEnterpriseLog/QueryService"/>
					</baseAddresses>
				</host>
				-->
	<!--HTTP-->
	<!--
				-->
	<!--<endpoint	address=""
									binding="basicHttpBinding"
									contract="Oragon.Architecture.LogEngine.Service.IQueryService" />

				<endpoint	address="mex"
							binding="mexHttpBinding"
							contract="IMetadataExchange" />-->
	<!--
				-->
	<!--NET TCP-->
	<!--
				<endpoint
							  address=""
							  binding="netTcpBinding"
							  contract="Oragon.Architecture.LogEngine.Service.IQueryService" />
				<endpoint
					address = "net.tcp://localhost:8001/OragonEnterpriseLog/QueryService/mex"
								binding = "mexTcpBinding"
								contract = "IMetadataExchange"/>
			</service>
		</services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="logDirectory" value="${basedir}../Log/"/>
		<targets async="true">
			<target name="default" xsi:type="File" fileName="${logDirectory}/Log_${shortdate}.txt"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="viewer" />
		</rules>
	</nlog>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="DEBUG" />
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
			</factoryAdapter>
		</logging>
	</common>
	<connectionStrings>
		<add name="LogEngineMySQL" connectionString="server=localhost;uid=OragonApp;password=OragonApp;database=LogEngine;port=3306" providerName="MySql.Data.MySqlClient" />
		<!--<add name="LogEngineSQLServer" connectionString="Data Source=192.168.0.27\SQLEXPRESS;Database=LogEngine;User ID=LogEngine;Password=LogEngine;Connect Timeout=90;Application Name=SI_LogEngine" providerName="System.Data.SqlClient"/>-->
		<add name="LogEngineSQLServer" connectionString="Data Source=report;Database=LogEngine;User ID=LogEngineSqlUsr;Password=LogEngine@12#;Connect Timeout=90;Application Name=BackOffice_LogEngine" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
        <assemblyIdentity name="Quartz"
                              culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.99.99"
                         newVersion="2.1.2.400"/>
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity
								  name="Common.Logging"
								  culture="neutral"
								  publicKeyToken="af08829b84f0328e"
                         />
				<bindingRedirect oldVersion="2.0.0.0"
								 newVersion="2.1.1.0"/>
			</dependentAssembly>
		</assemblyBinding>

	</runtime>
</configuration>
