<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects
		  xmlns="http://www.springframework.net"
		  xmlns:wcf="http://www.springframework.net/wcf"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xmlns:aop="http://www.springframework.net/aop"
	  >

			<!--##########################################################################################################################################-->
			<!--Host de Serviços-->
			<!--##########################################################################################################################################-->
			<object id="MainService" type="Oragon.Architecture.Services.ServiceContainer, Oragon.Architecture.Services">
				<property name="Services">
					<list element-type="Oragon.Architecture.Services.IService, Oragon.Architecture.Services">

						<object type="Oragon.Architecture.Services.SpringServices.GenericStartUpService, Oragon.Architecture.Services">
							<property name="HandlerObject" ref="CacheService" />
							<property name="StartMethodName" value="BuildCache" />
						</object>

						<object type="Oragon.Architecture.Services.SpringServices.GenericStartUpService, Oragon.Architecture.Services">
							<property name="HandlerObject" ref="MessageListenerContainer_SQLWrite" />
							<property name="StartMethodName" value="Start" />
							<property name="StopMethodName" value="Stop" />
						</object>

					</list>
				</property>
			</object>



			<!--##########################################################################################################################################-->
			<!--Service-->
			<!--##########################################################################################################################################-->
			<object id="LogService" type="Oragon.Architecture.LogEngine.Service.LogService, Oragon.Architecture.LogEngine.Business" singleton="false">
				<property name="LogBW" ref="LogBusinessWorkflow" />
			</object>
			<object id="CacheService" type="Oragon.Architecture.LogEngine.Service.CacheService, Oragon.Architecture.LogEngine.Business" singleton="false">
				<property name="TagBusinessProcess" ref="TagBusinessProcess" />
			</object>
			<!--##########################################################################################################################################-->
			<!--Business Workflow-->
			<!--##########################################################################################################################################-->
			<object name="LogBusinessWorkflow" type="Oragon.Architecture.LogEngine.Business.Workflow.LogBusinessWorkflow, Oragon.Architecture.LogEngine.Business">
				<property name="LogBP" ref="LogBusinessProcess" />
				<property name="MessageConverterBP" ref="MessageConverterBusinessProcess" />
			</object>
			<!--##########################################################################################################################################-->
			<!--Business Process-->
			<!--##########################################################################################################################################-->
			<object name="MessageConverterBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.MessageConverterBusinessProcess, Oragon.Architecture.LogEngine.Business" />
			<object name="LogBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.LogBusinessProcess, Oragon.Architecture.LogEngine.Business">
				<property name="EntryDataProcess" ref="LogEntryDataProcess" />
				<property name="LevelDataProcess" ref="LevelDataProcess" />
				<property name="TagBusinessProcess" ref="TagBusinessProcess" />
				<property name="PersistenceDataProcess" ref="PersistenceDataProcess" />
			</object>
			<object name="TagBusinessProcess" type="Oragon.Architecture.LogEngine.Business.Process.TagBusinessProcess, Oragon.Architecture.LogEngine.Business">
				<property name="TagValueDataProcess" ref="TagValueDataProcess" />
				<property name="TagDataProcess" ref="TagDataProcess" />
				<property name="PersistenceDataProcess" ref="PersistenceDataProcess" />
				<property name="TagListSemaphore" >
					<object type="Spring.Threading.Semaphore, Spring.Core">
						<constructor-arg name="initialPermits" value="1" />
					</object>
				</property>
				<property name="TagValueSemaphore" >
					<object type="Spring.Threading.Semaphore, Spring.Core">
						<constructor-arg name="initialPermits" value="1" />
					</object>
				</property>
			</object>
			<!--##########################################################################################################################################-->
			<!--Data Process-->
			<!--##########################################################################################################################################-->
			<object name="LogEntryDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.LogEntryDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="TagValueDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.TagValueDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="LevelDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.LevelDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="TagDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.TagDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			<object name="PersistenceDataProcess" type="Oragon.Architecture.LogEngine.Data.Process.PersistenceDataProcess, Oragon.Architecture.LogEngine.Business">
				<property name="ObjectContextKey" value="NHContextKey1" />
			</object>
			
			<!--##########################################################################################################################################-->
			<!--AMQP Listener-->
			<!--##########################################################################################################################################-->
			<object id="ConnectionFactory" type="Spring.Messaging.Amqp.Rabbit.Connection.CachingConnectionFactory, Spring.Messaging.Amqp.Rabbit">
				<property name="Host" value="ORAGONSERVER02" />
				<property name="Port" value="5672" />
				<property name="VirtualHost" value="LogEngine" />
				<property name="UserName" value="LogEngineClient" />
				<property name="Password" value="LogEngineClient@123" />
			</object>
			<object id="MessageListenerContainer_SQLWrite" type="Spring.Messaging.Amqp.Rabbit.Listener.SimpleMessageListenerContainer, Spring.Messaging.Amqp.Rabbit">
				<property name="ConnectionFactory" ref="ConnectionFactory" />
				<property name="QueueNames" value="LogEngineSQLWrite.queue" />
				<property name="ConcurrentConsumers" value="1" />
				<property name="MessageListener" >
					<object type="Spring.Messaging.Amqp.Rabbit.Listener.Adapter.MessageListenerAdapter, Spring.Messaging.Amqp.Rabbit">
						<property name="HandlerObject" ref="LogService" />
						<property name="DefaultListenerMethod" value="Handler"/>
					</object>
				</property>
				<!--<property name="TransactionManager">
					<object type="Spring.Messaging.Amqp.Rabbit.Transaction.RabbitTransactionManager, Spring.Messaging.Amqp.Rabbit">
						<constructor-arg name="connectionFactory" ref="ConnectionFactory" />
					</object>
				</property>-->
			</object>
			<!--##########################################################################################################################################-->
			<!--AOP-->
			<!--##########################################################################################################################################-->

			<object name="NHContextAroundAdvice" type="Oragon.Architecture.AOP.Data.NHibernate.NHContextAroundAdvice, Oragon.Architecture" singleton="true">
				<property name="ElevateToSystemTransactionsIfRequired" value="true" />
				<property name="SessionFactoryBuilders">
					<list element-type="Oragon.Architecture.Data.SessionFactoryBuilder, Oragon.Architecture">
						<ref object="LogSessionFactoryBuilder"/>
					</list>
				</property>
				<!--
				<property name="Interceptor">
					<object type="BRQ.SI.Data.Interceptor.AuditInterceptor, BRQ.SI.Business" >
						<property name="Logger" ref="EnterpriseLog" />
						<property name="ProfissionalDP" ref="ProfissionalDataProcess" />
					</object>
				</property>
				-->
			</object>

			<object id="LogSessionFactoryBuilder" type="Oragon.Architecture.Data.SessionFactoryBuilder, Oragon.Architecture">
				<property name="DefaultIsolationLevel" value="ReadCommitted" />
				<property name="TransactionIsolationLevel" value="ReadCommitted" />
				<property name="DefaultFlushMode" value="Never" />
				<property name="TransactionFlushMode" value="Commit" />
				<property name="ObjectContextKey" value="NHContextKey1" />
				<property name="MaxFetchDepth" value="1" />
				<property name="EnabledDiagnostics" value="true" />
				<property name="CommandTimeout" value="1000" />
				<property name="BatchSize" value="50" />
				<property name="ConStrConfigDiscovery">
					<object type="Oragon.Architecture.Data.ConnectionStrings.DefaultConStrConfigDiscovery, Oragon.Architecture">
						<property name="ConnectionStringKey" value="LogEngineSQLServer"/>
					</object>
				</property>
				<property name="TypeNames">
					<list element-type="System.String">
						<value>Oragon.Architecture.LogEngine.Architecture.Mapping.LogEntryMapper, Oragon.Architecture.LogEngine.Business</value>
						<value>Oragon.Architecture.LogEngine.Business.Entity.LogEntry, Oragon.Architecture.LogEngine.Domain</value>
					</list>
				</property>
			</object>


			<object name="ExceptionHandlerAroundAdvice" type="Oragon.Architecture.AOP.ExceptionHandling.ExceptionHandlerAroundAdvice, Oragon.Architecture" singleton="true">
				<property name="GenericErrorMessage" value="Não foi possível realizar a operação solicitada. Contate o administrador da aplicação."/>
				<property name="EnableDebug" value="true"/>
				<property name="BusinessExceptionType" value="Oragon.Architecture.Business.BusinessException, Oragon.Architecture"/>
				<property name="Logger">
					<object type="Oragon.Architecture.Log.NLogLogger, Oragon.Architecture" />
				</property>
			</object>


			<object id="serviceOperations" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
				<property name="pattern" value="Oragon.Architecture.LogEngine.Service.*" />
			</object>

			<aop:config>
				<aop:advisor pointcut-ref="serviceOperations" advice-ref="NHContextAroundAdvice" />
				<!--<aop:advisor pointcut-ref="serviceOperations" advice-ref="ExceptionHandlerAroundAdvice" />-->
			</aop:config>







		</objects>
	</spring>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="logDirectory" value="${basedir}../Log/"/>
		<targets>
			<target name="MyFile" xsi:type="AsyncWrapper">
				<target name="logfile" xsi:type="File" fileName="${logDirectory}/Log_${shortdate}.txt" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="MyFile" />
		</rules>
	</nlog>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="DEBUG" />
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
			</factoryAdapter>
		</logging>
	</common>
	<connectionStrings>
		<!--<add name="LogEngineMySQL" connectionString="server=localhost;uid=OragonApp;password=OragonApp;database=LogEngine;port=3306" providerName="MySql.Data.MySqlClient" />-->
		<add name="LogEngineSQLServer" connectionString="Data Source=ORAGONSERVER02;Database=LogEngine;User ID=LogEngine;Password=LogEngine;Connect Timeout=90;Application Name=LogEngine" providerName="System.Data.SqlClient"/>
		<!--<add name="LogEngineSQLServer" connectionString="Data Source=report;Database=LogEngine;User ID=LogEngineSqlUsr;Password=LogEngine@12#;Connect Timeout=90;Application Name=BackOffice_LogEngine" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity
								  name="Common.Logging"
								  culture="neutral"
								  publicKeyToken="af08829b84f0328e"
						 />
				<bindingRedirect oldVersion="1.0.0.0-9.9999.9999.9999"
								 newVersion="2.1.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
