<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net" xmlns:wcf="http://www.springframework.net/wcf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.net/aop">

			<object name="ObjectContextAroundAdvice" type="Oragon.Architecture.AOP.ObjectContextAroundAdvice, Oragon.Architecture" singleton="true">
				<property name="ElevateToSystemTransactionsIfRequired" value="false" />
				<property name="SessionFactoryBuilders">
					<list element-type="Oragon.Architecture.Data.SessionFactoryBuilder, Oragon.Architecture">
						<ref object="Example02SessionFactoryBuilder"/>
					</list>
				</property>
			</object>


			<object id="Example02SessionFactoryBuilder" type="Oragon.Architecture.Data.SessionFactoryBuilder, Oragon.Architecture">
				<property name="DefaultIsolationLevel" value="ReadCommitted" />
				<property name="TransactionIsolationLevel" value="ReadCommitted" />
				<property name="DefaultFlushMode" value="Never" />
				<property name="TransactionFlushMode" value="Commit" />
				<property name="ObjectContextKey" value="Example02Context" />
				<property name="MaxFetchDepth" value="1" />
				<property name="EnabledDiagnostics" value="false" />
				<property name="CommandTimeout" value="1000" />
				<property name="BatchSize" value="50" />
				<property name="ConStrConfigDiscovery">
					<object type="Oragon.Architecture.Data.ConnectionStrings.DefaultConStrConfigDiscovery, Oragon.Architecture">
						<property name="ConnectionStringKey" value="Example02ConnectionString"/>
					</object>
				</property>
				<property name="TypeNames">
					<list element-type="System.String">
						<value>Oragon.Architecture.Samples02.Data.Mapping.AlunoMapper, Oragon.Architecture.Samples02.Data</value>
						<value>Oragon.Architecture.Samples02.Data.Entity.Aluno, Oragon.Architecture.Samples02.Data</value>
					</list>
				</property>
			</object>

			<object id="AllServiceOperations" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
				<property name="Patterns" value="Oragon.Architecture.Samples02.Data.Services.*Service" />
			</object>

			<aop:config>
				<aop:advisor pointcut-ref="AllServiceOperations" advice-ref="ObjectContextAroundAdvice"/>
			</aop:config>

			<object id="BaseDataProcess" type="Oragon.Architecture.Data.Process.DataProcessBase, Oragon.Architecture" abstract="true">
				<property name="ObjectContextKey" value="Example02Context" />
			</object>


			<object name="AlunoDataProcess" type="Oragon.Architecture.Samples02.Data.Process.AlunoDataProcess, Oragon.Architecture.Samples02.Data" parent="BaseDataProcess" />
			<object name="SexoDataProcess" type="Oragon.Architecture.Samples02.Data.Process.SexoDataProcess, Oragon.Architecture.Samples02.Data" parent="BaseDataProcess" />
			<object name="TurmaDataProcess" type="Oragon.Architecture.Samples02.Data.Process.TurmaDataProcess, Oragon.Architecture.Samples02.Data" parent="BaseDataProcess" />

			<object name="TestService" type="Oragon.Architecture.Samples02.Data.Services.TestService, Oragon.Architecture.Samples02.Data">
				<property name="AlunoDP" ref="AlunoDataProcess" />
				<property name="TurmaDP" ref="TurmaDataProcess" />
				<property name="SexoDP" ref="SexoDataProcess" />
			</object>

		</objects>
	</spring>

	<connectionStrings>
		<add name="Example02ConnectionString" connectionString="Data Source=oragonserverbridge;User ID=OragonExamples;Password=OragonExamples;Connect Timeout=2000; pooling='true'; Max Pool Size=1000;Application Name=OragonExample02;DataBase=OragonExamplesDB" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>