# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
/.svn/*
/.git/*

# User-specific files
*.suo
*.user
*.sln.docstates
*.cache
*.FileListAbsolute.txt
# Others
*.dbmdl

/\[OLD\]/\[Publish\]/Debug/*
/\[OLD\]/\[Publish\]/Release/*
/\[OLD\]/\[Publish\]/Log/*
/\[OLD\]/Architecture/*/[Bb]in/*
/\[OLD\]/Architecture/*/[Oo]bj/*
/\[OLD\]/CodeGen/*/[Bb]in/*
/\[OLD\]/CodeGen/*/[Oo]bj/*



/\[OLD\]/Architecture/*/[Bb]in/*
/\[OLD\]/Architecture/*/[Oo]bj/*
/\[source\]/*/[Bb]in/*
/\[source\]/*/[Oo]bj/*
/Examples/*/[Bb]in/*
/Examples/*/[Oo]bj/*
/.project
/\[Source\]/Oragon.Architecture.sln.ide/*
