<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<!--Connection Strings ######################################################################################################################### -->
			<object name="ConnectionString_DEV" type="String">
				<constructor-arg value="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=RJSRVDB251.brq.com\DEVSQL200801;User ID=sisint;Password=2*7!S1SinT;Connect Timeout=2000; pooling='true'; Max Pool Size=1000;Application Name=SisIntCodeGenerator" />
			</object>
			<object name="ConnectionString_Notebook" type="String">
				<constructor-arg value="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=(local)\sqlExpress;User ID=sisint;Password=2*7!S1SinT;Connect Timeout=2000; pooling='true'; Max Pool Size=1000;Application Name=SisIntCodeGenerator" />
			</object>
			<!--Connection Strings ######################################################################################################################### -->
			<alias alias="ConnectionString"  name="ConnectionString_Notebook" />
			<!--Connection Strings ######################################################################################################################### -->



			<alias name="GenerationContainer" alias="Main"/>

			<object name="BaseNamespace" type="System.String">
				<constructor-arg value="BRQ.SI" />
			</object>

			<object name="NameStretegy" type="Oragon.CodeGen.MetaData.Plugin.BRQNameStretegy, Oragon.CodeGen.MetaData.Domain" >
				<property name="PluralPrefix" value="" />
				<property name="PluralSufix" value="" />
				<property name="EntitiesConventions">
					<dictionary key-type="System.String" value-type="System.String">
						<entry key="LotacaoCentroCusto" value="Lotacao" />
						<entry key="AlocacaoProjeto" value="Alocacao" />
						<entry key="GrupoAcesso" value="Grupo" />
						<entry key="AcaoSistema" value="Acao" />
						<entry key="ReclassificacaoLancamento" value="Reclassificacao" />
						<entry key="PermissaoGrupoAcesso" value="Permissao" />
					</dictionary>
				</property>
				<property name="PropertiesConventions">
					<dictionary key-type="System.String" value-type="System.String">
						<entry key="IdtInscricaoMunicipal" value="InscricaoMunicipal" />
						<entry key="IdtInscricaoEstadual" value="InscricaoEstadual" />
						<entry key="NomRazaoSocial" value="RazaoSocial" />
						<entry key="IdtCNPJ" value="CNPJ" />
						<entry key="IdtCPF" value="CPF" />
						<entry key="IdtDDD" value="DDD" />
						<entry key="IdtTelefone" value="Telefone" />
						<entry key="IdtRamal" value="Ramal" />
						<entry key="NomEmail" value="Email" />
						<entry key="NumMatrProfissional" value="Matricula" />
						<entry key="DscObservacao" value="Observacao" />
						<entry key="IdtUsuario" value="Login" />

						<entry key="ItemCadastro.FK_SOAC_ITCA" value="SolicitacoesAlteracoesCadastrais" />


						<entry key="Profissional.FK_REEM_PROF_01" value="ReembolsosSolicitados" />
						<entry key="Reembolso.FK_REEM_PROF_01" value="Solicitante" />

						<entry key="Profissional.FK_REEM_PROF_02" value="ReembolsosCriados" />
						<entry key="Reembolso.FK_REEM_PROF_02" value="Criador" />

						<entry key="Profissional.FK_RECO_PROF_01" value="Demissoes" />
						<entry key="RescisaoContratual.FK_RECO_PROF_01" value="ProfissionalDemitido" />

						<entry key="Profissional.FK_RECO_PROF_02" value="DemissoesSobMinhaResponsabilidade" />
						<entry key="RescisaoContratual.FK_RECO_PROF_02" value="ProfissionalResponsavel" />

						<entry key="Profissional.FK_SOLC_PROF" value="TransferenciasSolicitadas" />
						<entry key="SolicitacaoLotacaoCentroCusto.FK_SOLC_PROF" value="ProfissionalSolicitante" />

						<entry key="Profissional.FK_HICR_CRAC_ATUALIZADOR" value="CrachasQueEuAlterei" />


						<entry key="Cracha.FK_CRAC_PROF" value="Proprietario" />

						<entry key="Profissional.FK_HICR_PROF_02" value="HistoricoCrachas" />
						<entry key="HistoricoCracha.FK_HICR_PROF_02" value="Proprietario" />

						<entry key="Profissional.FK_HICR_PROF_01" value="CrachasQueEuAlterei" />
						<entry key="HistoricoCracha.FK_HICR_PROF_01" value="ProfissionalQueAlterou" />

						<entry key="HistoricoCracha.FK_HICR_STCR" value="StatusDesativacao" />

						<entry key="HistoricoRescisaoContratual.FK_HIRC_PROF" value="ProfissionalResponsavelAtualizacao" />

						<entry key="LancamentoGerencial.FK_LAGE_PROJ_01" value="ProjetoDestino" />
						<entry key="Projeto.FK_LAGE_PROJ_01" value="LancamentosGerenciaisRecebidos" />

						<entry key="LancamentoGerencial.FK_LAGE_PROJ_02" value="ProjetoOrigem" />
						<entry key="Projeto.FK_LAGE_PROJ_02" value="LancamentosGerenciaisEnviados" />

						<entry key="Dsc" value="Descricao" />
						<entry key="Nom" value="Nome" />
						<entry key="Flg" value="" />
						<entry key="Idt" value="Identificador" />
						<entry key="Dta" value="Data" />
						<entry key="Dth" value="Data" />
						<entry key="Vlr" value="Valor" />
						<entry key="Pct" value="Percentual" />
						<entry key="Num" value="Numero" />
					</dictionary>
				</property>
				<property name="LanguageConvention" ref="PortuguesBrasileiroLanguageConvention" />
			</object>

			<object name="PortuguesBrasileiroLanguageConvention" type="Oragon.CodeGen.MetaData.Plugin.PortuguesBrasileiroLanguageConvention, Oragon.CodeGen.MetaData.Domain" >
				<property name="Excecoes">
					<dictionary key-type="System.String" value-type="System.String">
						<entry key="CentroCusto" value="CentrosCusto" />
						<entry key="LancamentoGerencial" value="LancamentosGerenciais" />
						<entry key="SolicitacaoAlteracaoCadastral" value="SolicitacoesAlteracoesCadastrais" />
					</dictionary>
				</property>
				<property name="SubstantivosCompostos">
					<list element-type="System.String" >
						<value>CentroCusto</value>
						<value>LancamentoGerencial</value>
						<value>SolicitacaoAlteracaoCadastral</value>
					</list>
				</property>
			</object>

			<object name="MyMetaDomainConverterWrapper" type="Oragon.CodeGen.MetaData.MyMetaDomainConverterWrapper, Oragon.CodeGen.MetaData.Domain">
				<property name="DataBaseName" value="SISINT" />
				<property name="ConnectionString" ref="ConnectionString" />
				<property name="DbDriver" value="SQL" />
				<property name="Language"  value="C#" />
				<property name="LanguageMappingFileName" value="Languages.xml" />
			</object>
<!======================================================>
			<object name="GenerationContainer" type="Oragon.CodeGen.Templating.GenerationContainer, Oragon.CodeGen.Templating">
				<property name="Templates">
					<list element-type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
						<!--###################################-->
						<!--Entidades-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Entities.tt"/>
							<property name="OutputPath" value="..\BRQ.SI.Domain\Business\Entity\[BusinessEntity].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Data Process-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.DataProcess.tt"/>
							<property name="OutputPath" value="..\BRQ.SI.Business\Data\Process\[DataProcess].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Mappings-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Mappings.tt"/>
							<property name="OutputPath" value="..\BRQ.SI.Business\Data\Mapping\[FluentNhibernateMappings].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
					</list>
				</property>
			</object>

			<object name="MetadataAnalyser" type="Oragon.CodeGen.MetaData.MetadataAnalyser, Oragon.CodeGen.MetaData.Domain">
				<property name="IgnorePaterns">
					<list element-type="System.String">
						<value>ZTEMP_*</value>
						<value>CompetenciaTecnica*</value>
						<value>CompetenciaTecnicaProfissional*</value>
						<value>Escolaridade*</value>
						<value>NivelProficiencia*</value>
						<value>Pessoa*</value>
						<value>HistoricoCompetenciaTecnicaProfissional*</value>
						<value>VersaoCompetenciaTecnicaProfissional*</value>
						<value>TipoCompetencia*</value>
						<value>TipoExperiencia*</value>
						<value>TipoProficiencia*</value>
					</list>
				</property>
				<property name="FilterPaterns">
					<list element-type="System.String">
					</list>
				</property>
			</object>

		</objects>
	</spring>

	<system.runtime.remoting>
	</system.runtime.remoting>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
