<?xml version="1.0" encoding="utf-8"?>
<settings>
	<packageSources>
		<add key="nugetbuild" value="http://oragonserver07.oragon.it:81/nuget/OragonArchitecture" />
		<add key="nugetbuild" value="http://oragonserver07.oragon.it:81/nuget/OragonArchitectureNightlyBuilds" />
	</packageSources>
	<repositoryPath>../[References]/</repositoryPath>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"  />
	</activePackageSource>
</settings>
