/*body {
	margin: 0px; padding: 0px; text-align: center; font-size: 75%;
	background-image: url('Images/GlobalBackgroundWash.gif');
	background-color: #E4ECED; background-repeat: repeat-x; background-position: left top;
	color: #000;
}*/

body {
	background-color: #E5EAF5; margin: 0px; padding: 0px; text-align: center; font-size: 100%; color: #000;
}

body, select, input {
	font-family: "Segoe UI", Tahoma, Arial, Verdana, sans-serif;
}

pre {
	xfont-size: 11pt; xcolor: #524218;
	xbackground-color: #F6EEDC;
	border: solid 3px #eeeeee;
	padding-top: 1em; padding-left: 1em; padding-right: 1em;
	padding-bottom: 1em; 
	margin-bottom: 1em;
	font-size: 90%;
	xfont-family: Courier New, Courier;
	font-family: Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

#logoText {
	font-size: 220%;
	color: #FF5D05;
	font-family: Tahoma;
	padding-left: 36px;
	background-image: url('Superstar/Superstar.gif');
	background-position: left center;
	background-repeat: no-repeat;
}

#logoStrap {
	font-size: 90%;
	color: #524218;
	font-style: italic;
}

.top {
	height: 24px;
}

.strap {
	padding-top: 3px; color: #53441B; padding-left: 21px;
}

.header {
	height: 100px; width: 960px; background-image: url('Superstar/HeaderBackground.png');
}

.container {
	width: 960px; margin-left: auto; margin-right: auto; text-align: left;
}

.menu {
	padding: 5px 5px 7px 9px; background-color: #524218; zoom: 1; 
}

.menuBottom {
	height: 1px; overflow: hidden;
	background-image: url('Images/GlobalMenuBottom.gif'); background-repeat: repeat-y;
}

.menu a {
	color: #EDE2BF; text-decoration: none; font-size: 95%;
}

.menu a:hover {
    text-decoration: underline;
}

.menu ul {
	display: block; list-style: none; margin: 0px; padding: 0px; font-weight: bold; 
}

.menu li.separated { 
	display: inline; padding-left: 11px; padding-right: 7px;
	background-image: url('Images/MenuSeparator.png');
	background-repeat: no-repeat; background-position: left center;
}

.menu li {
	display: inline; padding-left: 7px; padding-right: 7px; 
}

.middle {
	background-color: #fff;
}

.content {
	padding: 1em 12px 0px 12px;
}

.footer {
	height: 12px; width: 960px; background-image: url('Superstar/Footer.gif');
}

.footercap {
	height: 2px;
	width: 960px;
	background-color: #524218;
}

.logo {
	padding: 12px 0px 0px 16px;
}

.copyright {
	padding-top: 8px;
	margin-bottom: 14px;
	padding-left: 12px;
	padding-right: 12px;
}

.copyrightMenu {
	
}

.copyrightMenu, .copyrightMenu a, .copyright span {
	color: #B6A06A; font-size: 95%;
}

.copyrightMenu a {
	 text-decoration: none; 
}

.copyrightMenu a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0px 0px 1em 0px;
	color: #524218;
	zoom: 1;
}

h1 {
	font-size: 185%;
}

h2 {
	font-size: 135%;
}

h3 {
	font-size: 115%;
}

h4 {
	font-size: 100%;
}

h3 span.contrast {
	color: #392D11;
}

h1.product {
	color: #524218;
	font-size: 145%;
	margin-bottom: .3em;
}

div.features h3 {
	font-size: 100%;
	padding-left: 14px;
	background-image: url('Images/FeatureTitle.gif');
	background-position: 2px center;
	background-repeat: no-repeat;
}

div.features h3.link {
	background-image: url('Images/FeatureTitleLink.gif');
}

div.features p {
	padding-left: 14px;
}

div.features h4 {
	padding-left: 14px;
	margin: 0px;
	font-size: 100%;
	color: #000;
}

div.prices h3 {
	font-size: 100%;
	vertical-align: middle;
	padding-bottom: 1px;
}

div.prices h3 a {
	text-decoration: none;
}

div.prices h3 a span {
	text-decoration: underline;
}

div.prices h3 a:hover span {
	text-decoration: none;
}

div.prices h3, div.prices h3 a, div.prices h3 span {
	vertical-align: middle;
}

div.prices h3 img {
	vertical-align: middle; padding-right: 8px;
}

div.prices p.buy {
	background-color: #eee;
	padding: 0px;
}

p.buy span.description {
	display: inline-block; width: 386px; color: Black;
}

p.buy span.price {
	width: 50px;
	display: inline-block;
	text-align: right;
	margin-right: 14px;
	color: Black;
	font-weight: bold;
}

p.buy span {
	vertical-align: middle;
}

p.buy a {
	text-decoration: none;
	padding-top: 5px; padding-bottom: 6px;
	display: block;
	padding-left: 21px;
}

p.buy a:hover {
	background-color: #e7e7e7;
}

a.buy, span.buy {
	background-image: url('Images/BuyHyperLink.gif'); background-repeat: no-repeat; background-position: left center;
	padding-left: 21px;
}

p.buy a span.buy {
	text-decoration: underline;
}

p.buy a:hover span.buy {
	text-decoration: none;
}

.proTreeViewHomeLogo {
	background-image: url('Images/ProTreeViewHomeLogo.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 54px;
	width: 209px;
}

div.productTitle {
	background-color: #F7EFDE;
	padding: 9px 14px 9px 14px;
	margin-bottom: 1px;
	background-image: url('Images/BlogBackgroundTwoTone.gif');
	background-repeat: repeat;
	background-position: left top; 
}

div.titleSeparator {
	height: 1px;
	background-image: url('Images/ProductTitle.gif');
	background-repeat: repeat-x;
	background-position: left top;
	margin-bottom: 1em;
}

span.productDescription {
	color: #524218;
}

.logo span {
	font-size: 36px;
	color: #53441B; text-decoration: none; font-family: Georgia, Serif;
}

a {
	color: #43877E;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0px 0px 1em 0px;
}

.w3c {
	padding-left: 12px;
	margin-bottom: 1em;
}

div.clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
	height: 0px;
	overflow: hidden;
}

.adminMenu {
	padding-right: 2em;
	padding-top: 1.5em;
	float: right;
	font-size: 95%;
}

.adminMenu a {
	color: #53441B;
}

div.leftLine {
	background-image: url('Images/GlobalVerticalLine.gif'); background-repeat: repeat-y; background-position: left;
}

div.rightLine {
	background-image: url('Images/GlobalVerticalLine.gif'); background-repeat: repeat-y; background-position: right;
}

div.contentSplitter {
	padding: 1em 12px 0px 12px;
	background-image: url('Images/GlobalContentSplitter.gif'); background-repeat: repeat-y; background-position: right;
}

div.contentSplitterMenu {
	padding: 1em 12px 0px 12px;
	background-image: url('Images/GlobalContentSplitterMenu.gif'); background-repeat: repeat-y; background-position: left;
}

.footerSpliiterMenu {
	height: 15px; width: 791px; background-image: url('Images/GlobalFooterSplitterMenu.gif');
}

.footerSpliiter {
	height: 15px; width: 791px; background-image: url('Images/GlobalFooterSplitter.gif');
}

.demo {
	color: #524218;
	border: solid 1px #969A7A;
	padding-top: 1em; padding-left: 1em; padding-right: 1em;
	margin-bottom: 1em;
}

span.downloadHyperLink, a.downloadHyperLink, a.downloadHyperLinkSubtle {
	background-image: url('Images/DownloadHyperLink.png'); background-repeat: no-repeat; background-position: left center;
	padding-left: 17px;
}

a.downloadHyperLinkSubtle {
	padding-left: 14px;
}

span.downloadLarge {
	background-image: url('Images/DownloadLargeBorder.gif'); background-repeat: no-repeat; background-position: top center;
	padding-top: 47px;
	display: block;
	text-align: center;
	height: 86px;
}

ul.splitMenu {
	display: block; list-style: none;
	margin: 0px; padding: 0px;
	margin-bottom: 1em;
}

ul.splitMenu li {
	background-image: url(Images/SplitMenuSeparator.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding: 7px 0px 7px 0px;
}

ul.splitMenu li a {
	display: block;
	margin: 0px;
	xmargin-top: .4em;
	background-image: url(Images/SplitMenuItem.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px 0px 0px 9px;
}

ul.splitMenu li.first {
	padding-top: 0px;
} 

h3.menuTitle {
	background-image: url(Images/SplitMenuTitle.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 9px;
	margin-bottom: .4em;
}

.homeTagCloud {
	border: solid 3px #EAD4A6;
	background-color: #FAF4E6;
	padding: 8px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

div.download {
}

div.download h3 {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	color: #000;
	margin-bottom: 4px;
}

div.download p {
	background-color: #f5f5f5;
	padding: 8px;
}
