h2.blogArchive {
	margin-bottom: .3em;
}

h3.blogNews {
	margin-bottom: .3em;
}

h2.blogComment {
	font-size: 185%;
	xcolor: #DBC281; 
}

h3.blogAttachments {
	margin: 0px;
	padding: 0px;
	display: inline;
	font-size: 100%;
	font-weight: bold;
	xcolor: #DBC281; 
}

label.blogFormLabel {
	font-weight: bold;
}

div.blogComment {
	background-color: #F5F6F2;
	border: solid 3px #E6D6B0;
	padding-top: 1em; padding-left: 1em; padding-right: 1em;
	margin-bottom: 1em;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.blogComment h4 {
	margin-bottom: .1em;
}

.blogCommentDate {
	color: #666;
	margin-bottom: .7em;
	font-size: 90%;
}

div.blogAttachment {
	margin-bottom: 1em;
}

.blogPostThankYou {
	font-weight: bold;
	font-size: 110%;
}

.blogPostDate {
	padding-top: .5em;
}

.blogPostTags, .blogPostDate {
	color: #666;
	font-size: 85%;
}

p.blogPostSummary {
	margin-bottom: .5em;
}

div.blogArchiveItem {
	margin-bottom: 1em;
}

div.blogTagCloud {
	margin-bottom: 1em;
	border: solid 3px #FCF1D8;
	padding: .5em;
	background-color: #FDF7EB;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

div.blogTagCloud a {
	/*color: #CBA34D;*/
}

.postValidationSummary div, .postValidationSummary p {
	padding-bottom: 1em;
}

h3.blogArchiveTag {
	font-weight: normal;
	margin-bottom: .2em;
	font-size: 100%;
}

h3.blogArchiveMonth {
	margin-bottom: .5em;
}

h3.blogArchiveMonth span {
	color: #524218;
	font-weight: normal;
}

h3.blogArchivePost {
	font-size: 100%;
	margin-bottom: 0px;
}

.blogArchivePostAgo {
	margin-bottom: .1em;
	color: #666;
	font-size: 85%;
}

.blogArchiveFeed {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url('Images/Rss14.png');
	text-indent: -999em;
	margin-left: .2em;
}

.blogArchiveFeedHome {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('Images/Rss16.png');
	text-indent: -999em;
	margin-left: .2em;
}

.blogShareLinks {
	
}