<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
	<spring>
		<context>
			<resource uri="config://spring/objects" />
		</context>
		<objects xmlns="http://www.springframework.net" xmlns:wcf="http://www.springframework.net/wcf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.net/aop">

			<object name="ManagementHost" type="Oragon.Architecture.ApplicationHosting.Management.ManagementHost, Oragon.Architecture.ApplicationHosting.Management">
				<property name="Configuration">
					<object type="Oragon.Architecture.ApplicationHosting.Management.ManagementHostConfiguration, Oragon.Architecture.ApplicationHosting.Management">
						<property name="MonitoringPort" value="7777" />
						<property name="AllowRemoteMonitoring" value="true" />
					</object>
				</property>
			</object>
			<!--
			################################################################################################################################################
			Oragon.Architecture.Web.Owin.OMvc Controllers
			################################################################################################################################################
			-->
			<object name="HomeController" type="Oragon.Architecture.ApplicationHosting.Management.WebMvcControllers.HomeController, Oragon.Architecture.ApplicationHosting.Management" init-method="Initialize" />
			<object name="ResourceController" type="Oragon.Architecture.ApplicationHosting.Management.WebMvcControllers.ResourceController, Oragon.Architecture.ApplicationHosting.Management" init-method="Initialize" />
			<object name="RedirectController" type="Oragon.Architecture.ApplicationHosting.Management.WebMvcControllers.RedirectController, Oragon.Architecture.ApplicationHosting.Management" init-method="Initialize" />
			<!--<object name="OragonHttpControllerSelector" type="Oragon.Architecture.ApplicationHosting.Management.OragonHttpControllerSelector, Oragon.Architecture.ApplicationHosting.Management">
				
			</object>-->

			<object name="ControllerTypeResolver" type="Oragon.Architecture.Web.Owin.Resolvers.SpringWebApiControllerTypeResolver, Oragon.Architecture.Web.Owin.OMvc">

			</object>
			<!--
			################################################################################################################################################
			Web Api Controllers
			################################################################################################################################################
			-->
			<object name="ApplicationServerExplorerTreeController" type="Oragon.Architecture.ApplicationHosting.Management.WebApiControllers.ApplicationServerExplorerTreeController, Oragon.Architecture.ApplicationHosting.Management" singleton="false">
				<property name="ApplicationRepository" ref="ApplicationRepository" />
				<property name="NotificationRepository" ref="NotificationRepository" />
			</object>

			<object name="RegisterServiceController" type="Oragon.Architecture.ApplicationHosting.Management.WebApiControllers.RegisterServiceController, Oragon.Architecture.ApplicationHosting.Management" singleton="false">
				<property name="ApplicationRepository" ref="ApplicationRepository" />
				<property name="NotificationRepository" ref="NotificationRepository" />
			</object>

			<object name="NotificationController" type="Oragon.Architecture.ApplicationHosting.Management.WebApiControllers.NotificationController, Oragon.Architecture.ApplicationHosting.Management" singleton="false">
				<property name="ApplicationRepository" ref="ApplicationRepository" />
				<property name="NotificationRepository" ref="NotificationRepository" />
			</object>
			<!--
			################################################################################################################################################
			Repositories
			################################################################################################################################################
			-->
			<object name="ApplicationRepository" type="Oragon.Architecture.ApplicationHosting.Management.Repository.ApplicationRepository, Oragon.Architecture.ApplicationHosting.Management">
			</object>
			<object name="NotificationRepository" type="Oragon.Architecture.ApplicationHosting.Management.Repository.NotificationRepository, Oragon.Architecture.ApplicationHosting.Management">
			</object>
			<!--
			################################################################################################################################################
			EOF
			################################################################################################################################################
			-->
		</objects>
	</spring>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

