<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<!--Connection Strings ######################################################################################################################### -->
			<object name="ConnectionString" type="String">
				<constructor-arg value="XXXXXXXXXXXXXXXXXXXXXXXX" />
			</object>

			<alias name="GenerationContainer" alias="Main"/>

			<object name="BaseNamespace" type="System.String">
				<constructor-arg value="iMusica.Enterprise.Data.iMusicaAgg" />
			</object>

			<object name="NameStretegy" type="Oragon.CodeGen.MetaData.Plugin.iMusicaNameStretegy, Oragon.CodeGen.MetaData.Domain" >
				<property name="LanguageConvention" ref="LanguageConvention" />
				<property name="TablePrefix">
					<list element-type="String">
						<value>agg</value>
						<value>mt</value>
						<value>ng</value>
					</list>
				</property>
				<property name="Dictionary">
					<list element-type="String">
						<value>album</value>
						<value>artist</value>
						<value>conciliation</value>
						<value>service</value>
						<value>type</value>
						<value>produto</value>
						<value>currency</value>
						<value>distribution</value>
						<value>error</value>
						<value>service</value>
						<value>tipo</value>
						<value>produto</value>
						<value>exchange</value>
						<value>number</value>
						<value>year</value>
						<value>upc</value>
						<value>path</value>
						<value>capa</value>
						<value>label</value>
						<value>volume</value>
						<value>name</value>
						<value>symbol</value>
						<value>code</value>
						<value>from</value>
						<value>to</value>
						<value>identification</value>
						<value>column</value>
						<value>type</value>
						<value>user</value>
						<value>value</value>
						<value>creation</value>
						<value>date</value>
						<value>entity</value>
						<value>report</value>
						<value>export</value>
						<value>import</value>
						<value>row</value>
						<value>statement</value>
						<value>status</value>
						<value>message</value>
						<value>store</value>
						<value>alias</value>
						<value>month</value>
						<value>year</value>
						<value>day</value>
						<value>id</value>
						<value>portal</value>
						<value>history</value>
						<value>phonogram</value>
						<value>song</value>
						<value>writer</value>
						<value>duration</value>
						<value>delivery</value>
						<value>price</value>
						<value>billing</value>
						<value>mobile</value>
						<value>item</value>
						<value>publish</value>
						<value>template</value>
						<value>upload</value>
						<value>execution</value>
						<value>start</value>
						<value>end</value>
						<value>ano</value>
						<value>rate</value>
						<value>product</value>
						<value>pay</value>
						<value>rollover</value>
						<value>promotion</value>
						<value>request</value>
						<value>conta</value>
						<value>receive</value>
						<value>variable</value>
						<value>rule</value>
						<value>record</value>
						<value>company</value>
						<value>file</value>
						<value>operator</value>
						<value>configuration</value>
						<value>group</value>
						<value>perc</value>
						<value>imusica</value>
						<value>separator</value>
						<value>known</value>
						<value>order</value>
						<value>list</value>
						<value>compiled</value>
						<value>assembly</value>
						<value>negative</value>
						<value>allow</value>
						<value>tax</value>
						<value>zero</value>
						<value>conciliated</value>
						<value>quantity</value>
						<value>transaction</value>
						<value>account</value>
						<value>position</value>
						<value>channel</value>
						<value>region</value>
						<value>prep</value>
						<value>hub</value>
						<value>partner</value>
						<value>net</value>
						<value>popularities</value>
						<value>popularity</value>
						<value>application</value>
						<value>description</value>
						<value>active</value>
						<value>photo</value>
						<value>composition</value>
						<value>composition2s</value>
						<value>resumed</value>
						<value>download</value>
						<value>permits</value>
						<value>renewal</value>
						<value>upgrade</value>
						<value>downgrade</value>
						<value>contract</value>
						<value>collection</value>
						<value>credit</value>
						<value>format</value>
						<value>is</value>
						<value>preview</value>
						<value>priority</value>
						<value>moeda</value>
						<value>log</value>
						<value>access</value>
						<value>financial</value>
						<value>work</value>
						<value>share</value>
						<value>id</value>
						<value>fonograma</value>
						<value>imp</value>
						<value>fonograma</value>
						<value>play</value>
						<value>element</value>
						<value>stream</value>
						<value>category</value>
						<value>page</value>
						<value>msisdn</value>
						<value>session</value>
						<value>by</value>
						<value>pass</value>
						<value>response</value>
						<value>pin</value>
						<value>script</value>
						<value>elapse</value>
						<value>time</value>
						<value>stamp</value>
						<value>schedule</value>
						<value>partial</value>
						<value>card</value>
						<value>method</value>
						<value>integration</value>
						<value>flag</value>
						<value>business</value>
						<value>content</value>
						<value>sac</value>
						<value>solution</value>
						<value>translate</value>
						<value>owner</value>
						<value>dt</value>
						<value>transfer</value>
						<value>non</value>
						<value>activated</value>
						<value>sec</value>
						<value>email</value>
						<value>born</value>
						<value>sex</value>
						<value>last</value>
						<value>ip</value>
						<value>created</value>
						<value>owner</value>
						<value>provider</value>
						<value>sms</value>
						<value>wap</value>
						<value>push</value>
						<value>correlator</value>
						<value>validation</value>
						<value>register</value>
						<value>expiration</value>
						<value>remaining</value>
						<value>config</value>
						<value>string</value>
						<value>personal</value>
						<value>dj</value>
						<value>range</value>
						<value>num</value>
						<value>executions</value>
						<value>repeat</value>
						<value>inserted</value>
						<value>upper</value>
						<value>limit</value>
						<value>lower</value>
						<value>isrc</value>
						<value>id</value>
						<value>executing</value>
						<value>pais</value>
						<value>iso</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>obra</value>
						<value>artista</value>
						<value>editora</value>
						<value>venda</value>
						<value>vendas</value>
						<value>disney</value>
						<value>compositor</value>
						<value>compositores</value>
						<value>autorizacao</value>
						<value>franquia</value>
						<value>contrato</value>
						<value>busca</value>
						<value>palavras</value>
						<value>pais</value>
						<value>iso</value>
						<value>gratis</value>
						<value>prioridade</value>
						<value>agg</value>
						<value>mes</value>
						<value>inicial</value>
						<value>final</value>
						<value>percentual</value>
						<value>diferenca</value>
						<value>new</value>
						<value>ct</value>
						<value>relatorios</value>
						<value>relatorio</value>
						<value>autorizacao</value>
						<value>data</value>
						<value>comentario</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
						<value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>

						



					</list>
				</property>
				<property name="FKConvention">
					<dictionary key-type="String" value-type="String">
						<entry key="BUSINESSRULE.FK_BUSINESSRULE_PARTNERCONTRACTHUB" value="PartnerContractHub" />
						<entry key="BUSINESSRULE.FK_BUSINESSRULE_PARTNERCONTRACTHUB_PHONE" value="PartnerContractHubPhone" />
						
						<entry key="PARTNERCONTRACTHUB.FK_BUSINESSRULE_PARTNERCONTRACTHUB" value="BusinessRules" />
						<entry key="PARTNERCONTRACTHUB.FK_BUSINESSRULE_PARTNERCONTRACTHUB_PHONE" value="PhoneBusinessRules" />

						
						

						<entry key="IMUSICABUNDLE.FK_IMUSICABUNDLE_IMUSICAIMPORT" value="ImusicaImport" />
						<entry key="IMUSICABUNDLE.FK_IMUSICABUNDLE_IMUSICAIMPORT1" value="ImusicaImport_OLD" />

						<entry key="IMUSICAIMPORT.FK_IMUSICABUNDLE_IMUSICAIMPORT" value="ImusicaBundles" />
						<entry key="IMUSICAIMPORT.FK_IMUSICABUNDLE_IMUSICAIMPORT1" value="ImusicaBundles_OLD" />

						<entry key="IMUSICAGENRE.FK_IMUSICABUNDLE_GENRE_ID" value="BundlesFullGenre" />
						<entry key="IMUSICABUNDLE.FK_IMUSICABUNDLE_GENRE_ID" value="FullGenre" />


						<entry key="IMUSICATRACK.FK_IMUSICATRACK_PREVIEW_ID" value="FullTrackFile" />
						<entry key="IMUSICATRACK.FK_IMUSICATRACK_TRACK_FILE_ID" value="PreviewFile" />
						
						<entry key="IMUSICATRACKFILE.FK_IMUSICATRACK_PREVIEW_ID" value="PreviewTracks" />
						<entry key="iMusicaTrackFile.FK_IMUSICATRACK_TRACK_FILE_ID" value="FullTracks" />


						<entry key="MATERIALIZEDCOMPOSITIONCOPY.FK_MATERIALIZEDCOMPOSITIONCOPY_PRODUCT_DESTINATION" value="DestinationProduct" />
						<entry key="MATERIALIZEDCOMPOSITIONCOPY.FK_MATERIALIZEDCOMPOSITIONCOPY_PRODUCT_SOURCE" value="SourceProduct" />

						<entry key="PRODUCT.FK_MATERIALIZEDCOMPOSITIONCOPY_PRODUCT_DESTINATION" value="DestinationMaterializedCopy" />
						<entry key="PRODUCT.FK_MATERIALIZEDCOMPOSITIONCOPY_PRODUCT_SOURCE" value="SourceMaterializedCopy" />
						
						<entry key="MTPAISISO.FK_MTLOJA_MTPAISISO" value="PaisIso" />
						<entry key="MTPAISISO.FK_MTLOJA_MTPAISISO1" value="PaisIso_OLD" />

						<entry key="MTLOJA.FK_MTLOJA_MTPAISISO" value="Loja" />
						<entry key="MTLOJA.FK_MTLOJA_MTPAISISO1" value="Loja_OLD" />

						<entry key="MTARTISTA.FK_MTARTISTASIMILAR_MTARTISTA_ARTISTA" value="Artistas" />
						<entry key="MTARTISTA.FK_MTARTISTASIMILAR_MTARTISTA_SIMILAR" value="ArtistaSimilares" />

						<entry key="MTARTISTASIMILAR.FK_MTARTISTASIMILAR_MTARTISTA_ARTISTA" value="ArtistaDoSimilar" />
						<entry key="MTARTISTASIMILAR.FK_MTARTISTASIMILAR_MTARTISTA_SIMILAR" value="ArtistaSimilarDoSimilar" />

						<entry key="NG_CURRENCY.FK_NG_CURRENCYCONVERSION_NG_CURRENCY" value="NGCurrencyConversionsIn" />
						<entry key="NG_CURRENCY.FK_NG_CURRENCYCONVERSION_NG_CURRENCY1" value="NGCurrencyConversionsOut" />

						<entry key="NG_CURRENCYCONVERSION.FK_NG_CURRENCYCONVERSION_NG_CURRENCY" value="NGCurrencyIn" />
						<entry key="NG_CURRENCYCONVERSION.FK_NG_CURRENCYCONVERSION_NG_CURRENCY1" value="NGCurrencyOut" />

<!--#############################################################################################################################################-->
						<entry key="NG_SALES_RELATIONSHIP_ALBUM.FK_NG_SALES_RELATIONSHIP_ALBUM_NG_SALES_RELATIONSHIP_KEY" value="NgSalesRelationShipAlbumKey" />
						<entry key="NG_SALES_RELATIONSHIP_ALBUM.FK_NG_SALES_RELATIONSHIP_ALBUM_NG_SALES_RELATIONSHIP_KEY1" value="NgSalesRelationShipTrackKey" />

						<entry key="NG_SALES_RELATIONSHIP_KEY.FK_NG_SALES_RELATIONSHIP_ALBUM_NG_SALES_RELATIONSHIP_KEY" value="NgSalesRelationShipAlbums" />
						<entry key="NG_SALES_RELATIONSHIP_KEY.FK_NG_SALES_RELATIONSHIP_ALBUM_NG_SALES_RELATIONSHIP_KEY1" value="NgSalesRelationShipTracks" />


					</dictionary>
				</property>
				
			</object>

			<object name="LanguageConvention" type="Oragon.CodeGen.MetaData.Plugin.EnglishLanguageConvention, Oragon.CodeGen.MetaData.Domain" />

			<object name="MyMetaDomainConverterWrapper" type="Oragon.CodeGen.MetaData.MyMetaDomainConverterWrapper, Oragon.CodeGen.MetaData.Domain">
				<property name="DataBaseName" value="iMusicaAgg" />
				<property name="ConnectionString" ref="ConnectionString" />
				<property name="DbDriver" value="SQL" />
				<property name="Language"  value="C#" />
				<property name="LanguageMappingFileName" value="Languages.xml" />
			</object>
			
			<object name="GenerationContainer" type="Oragon.CodeGen.Templating.GenerationContainer, Oragon.CodeGen.Templating">
				<property name="Templates">
					<list element-type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
						<!--###################################-->
						<!--Entidades-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Entities.tt"/>
							<property name="OutputPath" value="..\..\iMusica.Enterprise.Data.iMusicaAgg\Entity\[BusinessEntity].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Data Process-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.DataProcess.tt"/>
							<property name="OutputPath" value="..\..\iMusica.Enterprise.Data.iMusicaAgg\Process\[DataProcess].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Mappings-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Mappings.tt"/>
							<property name="OutputPath" value="..\..\iMusica.Enterprise.Data.iMusicaAgg\Mapping\[FluentNhibernateMappings].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
					</list>
				</property>
			</object>

			<object name="MetadataAnalyser" type="Oragon.CodeGen.MetaData.MetadataAnalyser, Oragon.CodeGen.MetaData.Domain">
				<property name="IgnorePaterns">
					<list element-type="System.String">
						<value>mtFonogramaAgente</value>
						<value>mtAgente</value>
						<value>mtPaisISOWarnerDSPCode</value>
						<value>sonyGenreSubgenreMetaData</value>
						<value>sonyParticipant</value>
						<value>sonyTrackBundle</value>
						<value>sonyRetailer</value>
						<value>sonyPricing</value>
					</list>
				</property>
				<property name="FilterPaterns">
					<list element-type="System.String">
					</list>
				</property>
			</object>

		</objects>
	</spring>

	<system.runtime.remoting>
	</system.runtime.remoting>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
