<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\[Source]\Oragon.Architecture.Aop.Data.FluentNHibernate\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.Aop.Data.MongoDB\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.Aop.Data.NHibernate\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.Aop.Data.Redis\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.Aop.ExceptionHandling\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.Aop\packages.config" />
  <repository path="..\[Source]\Oragon.Architecture.ApplicationHosting.HostProcess\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.ApplicationHosting.SimpleInjector\packages.config" />
  <repository path="..\[Source]\Oragon.Architecture.ApplicationHosting.SpringFramework\packages.config" />
  <repository path="..\[Source]\Oragon.Architecture.ApplicationHosting\packages.config" />
  <repository path="..\[source]\Oragon.Architecture.Serialization\packages.config" />
  <repository path="..\Examples\ApplicationHostingExample\packages.config" />
  <repository path="..\Examples\ApplicationHostingExampleWithoutSpringNet\packages.config" />
  <repository path="..\Examples\ApplicationHostingSimpleInjectorExample\packages.config" />
  <repository path="..\Examples\ApplicationHostingSpringNetExample\packages.config" />
</repositories>