<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<!--Connection Strings ######################################################################################################################### -->
			<object name="ConnectionString_Test" type="String">
				<constructor-arg value="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=ORAGONSERVER02;User ID=LogEngine;Password=LogEngine;Connect Timeout=2000; pooling='true'; Max Pool Size=1000;Application Name=CodeGenerator" />
			</object>

			<!--<object name="ConnectionString_Test" type="String">
				<constructor-arg value="Setup Here Your ConnectionString" />
			</object>-->

			<!--Connection Strings ######################################################################################################################### -->
			<alias alias="ConnectionString"  name="ConnectionString_Test" />
			<!--Connection Strings ######################################################################################################################### -->

			<object name="BaseNamespace" type="System.String">
				<constructor-arg value="Oragon.Architecture.LogEngine" />
			</object>

			<alias name="GenerationContainer" alias="Main"/>


			<object name="NameStretegy" type="Oragon.CodeGen.MetaData.Plugin.DefaultEnglishNameStretegy, Oragon.CodeGen.MetaData.Domain" >
				<property name="PluralPrefix" value="" />
				<property name="PluralSufix" value="" />


				<property name="EntitiesConventions">
					<dictionary key-type="System.String" value-type="System.String">
					</dictionary>
				</property>
				<property name="PropertiesConventions">
					<dictionary key-type="System.String" value-type="System.String">
					</dictionary>
				</property>
				<property name="LanguageConvention" ref="EnglishLanguageConvention" />
			</object>

			<object name="EnglishLanguageConvention" type="Oragon.CodeGen.MetaData.Plugin.EnglishLanguageConvention, Oragon.CodeGen.MetaData.Domain" />

			<object name="MyMetaDomainConverterWrapper" type="Oragon.CodeGen.MetaData.MyMetaDomainConverterWrapper, Oragon.CodeGen.MetaData.Domain">
				<property name="DataBaseName" value="LogEngine" />
				<property name="ConnectionString" ref="ConnectionString" />
				<property name="DbDriver" value="SQL" />
				<property name="Language"  value="C#" />
				<property name="LanguageMappingFileName" value="Languages.xml" />
			</object>
			<object name="GenerationContainer" type="Oragon.CodeGen.Templating.GenerationContainer, Oragon.CodeGen.Templating">
				<property name="Templates">
					<list element-type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
						<!--###################################-->
						<!--Entidades-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Entities.tt"/>
							<property name="OutputPath" value="..\..\..\EnterpriseLog\Oragon.Architecture.LogEngine.Domain\Business\Entity\[Entity].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Data Process-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.DataProcess.tt"/>
							<property name="OutputPath" value="..\..\..\EnterpriseLog\Oragon.Architecture.LogEngine.Business\Data\Process\[DataProcess].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Mappings-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Mappings.tt"/>
							<property name="OutputPath" value="..\..\..\EnterpriseLog\Oragon.Architecture.LogEngine.Business\Architecture\Mapping\[Mapping].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
					</list>
				</property>
			</object>

			<object name="MetadataAnalyser" type="Oragon.CodeGen.MetaData.MetadataAnalyser, Oragon.CodeGen.MetaData.Domain">
				<property name="IgnorePaterns">
					<list element-type="System.String">
					</list>
				</property>
				<property name="FilterPaterns">
					<list element-type="System.String">
					</list>
				</property>
			</object>
		</objects>
	</spring>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
