<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<alias name="GenerationContainer" alias="Main"/>

			<object name="BaseNamespace" type="System.String">
				<constructor-arg value="WebSCAFplus_NET" />
			</object>

			<object name="NameStretegy" type="Oragon.CodeGen.MetaData.Plugin.BSINameStretegy, Oragon.CodeGen.MetaData.Domain" >
				<property name="PluralPrefix" value="" />
				<property name="PluralSufix" value="" />
				<property name="LanguageConvention" ref="PortuguesBrasileiroLanguageConvention" />
				<property name="EntitiesConventions">
					<dictionary key-type="System.String" value-type="System.String">
						<!--
						<entry key="LotacaoCentroCusto" value="Lotacao" />
						<entry key="PermissaoGrupoAcesso" value="Permissao" />
						-->
						<entry key="_" value="" />
					</dictionary>
				</property>
				<property name="PropertiesConventions">
					<dictionary key-type="System.String" value-type="System.String">
						<entry key="Dsc" value="Descricao" />
						<entry key="Nom" value="Nome" />
						<entry key="Flg" value="" />
						<entry key="Idt" value="Identificador" />
						<entry key="Dta" value="Data" />
						<entry key="Dth" value="Data" />
						<entry key="Vlr" value="Valor" />
						<entry key="Pct" value="Percentual" />
						<entry key="Num" value="Numero" />
						<entry key="Valor" value="Valor" />
						<entry key="Parametro" value="Parametro" />
						<entry key="Controle" value="Controle" />
					</dictionary>
				</property>

			</object>

			<object name="PortuguesBrasileiroLanguageConvention" type="Oragon.CodeGen.MetaData.Plugin.PortuguesBrasileiroLanguageConvention, Oragon.CodeGen.MetaData.Domain" >
				<property name="Excecoes">
					<dictionary key-type="System.String" value-type="System.String">
						<!--
						<entry key="CentroCusto" value="CentrosCusto" />
						-->
					</dictionary>
				</property>
				<property name="SubstantivosCompostos">
					<list element-type="System.String" >
						<!--
						<value>CentroCusto</value>
						-->
					</list>
				</property>
			</object>

			<!--MySQL-->
			<!--<object name="MyMetaDomainConverterWrapper" type="Oragon.CodeGen.MetaData.MyMetaDomainConverterWrapper, Oragon.CodeGen.MetaData.Domain">
				<property name="DataBaseName" value="arqteturatesteprevitec" />
				<property name="ConnectionString" value="Server=localhost;Port=3306;Database=arqteturatesteprevitec;Uid=root;Pwd=masterkey;" />
				<property name="DbDriver" value="MYSQL2" />
				<property name="Language"  value="C#" />
				<property name="LanguageMappingFileName" value="Languages.xml" />
			</object>-->

			<!--SQL Server-->
			<object name="MyMetaDomainConverterWrapper" type="Oragon.CodeGen.MetaData.MyMetaDomainConverterWrapper, Oragon.CodeGen.MetaData.Domain">
				<property name="DataBaseName" value="BDAdm7_IAPP" />
				<property name="ConnectionString" value="Provider=SQLOLEDB.1;Persist Security Info=False;Data Source=(local)\sqlexpress;User ID=ArqteturaTestePrevitecUser;Password=ArqteturaTestePrevitecPassword;Connect Timeout=2000; pooling='true'; Max Pool Size=1000" />
				<property name="DbDriver" value="SQL" />
				<property name="Language"  value="C#" />
				<property name="LanguageMappingFileName" value="Languages.xml" />
			</object>

			<object name="GenerationContainer" type="Oragon.CodeGen.Templating.GenerationContainer, Oragon.CodeGen.Templating">
				<property name="Templates">
					<list element-type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
						<!--###################################-->
						<!--Entidades-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.Entities.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.Domain\Business\Entity\[BusinessEntity].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Data Process-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.DataProcess.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.Data\Data\Process\[DataProcess].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Business Process-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.BusinessProcess.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.Business\Business\Process\[BusinessProcess].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Service Facade-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.ServiceFacade.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.Business\Service\Facade\[Services].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--Service Interface-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.ServiceInterface.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.Domain\Service\Facade\[Services].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--MVC Controller-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.MVCController.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.WebApp\Controllers\[Controller].CodeGen.cs"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--MVC View - Grid-->
						<!--###################################-->
						<object type="Oragon.CodeGen.MetaData.Domain.Templating.T4PerEntityTemplate, Oragon.CodeGen.MetaData.Domain.Templating">
							<property name="TemplatePath" value="..\Template.MVC.Grid.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.WebApp\Views\[Entity.Name]\Grid.cshtml"/>
							<property name="MyMetaDomainConverterWrapper" ref="MyMetaDomainConverterWrapper"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--MVC View - Details-->
						<!--###################################-->
						<object type="Oragon.CodeGen.MetaData.Domain.Templating.T4PerEntityTemplate, Oragon.CodeGen.MetaData.Domain.Templating">
							<property name="TemplatePath" value="..\Template.MVC.Details.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.WebApp\Views\[Entity.Name]\Details.cshtml"/>
							<property name="MyMetaDomainConverterWrapper" ref="MyMetaDomainConverterWrapper"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--MVC View - Edit-->
						<!--###################################-->
						<object type="Oragon.CodeGen.MetaData.Domain.Templating.T4PerEntityTemplate, Oragon.CodeGen.MetaData.Domain.Templating">
							<property name="TemplatePath" value="..\Template.MVC.Edit.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.WebApp\Views\[Entity.Name]\Edit.cshtml"/>
							<property name="MyMetaDomainConverterWrapper" ref="MyMetaDomainConverterWrapper"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
						<!--###################################-->
						<!--IOC-->
						<!--###################################-->
						<object type="Oragon.CodeGen.Templating.T4Template, Oragon.CodeGen.Templating">
							<property name="TemplatePath" value="..\Template.IOC.tt"/>
							<property name="OutputPath" value="..\..\01.Source\WebSCAFplus_NET.WebApp\IOC.CodeGen.xml"/>
							<property name="TemplateParameters">
								<dictionary key-type="System.String" value-type="System.Object">
									<entry key="NameSpace" value-ref="BaseNamespace" />
									<entry key="MyMetaDomainConverterWrapper" value-ref="MyMetaDomainConverterWrapper" />
								</dictionary>
							</property>
						</object>
					</list>
				</property>
			</object>

			<object name="MetadataAnalyser" type="Oragon.CodeGen.MetaData.MetadataAnalyser, Oragon.CodeGen.MetaData.Domain">
				<property name="Strategy" value="TableModel" />
				<property name="IgnorePaterns">
					<list element-type="System.String">
						<!--<value>*</value>-->
					</list>
				</property>
				<property name="FilterPaterns">
					<list element-type="System.String">
						<!--<value>*Dominio*</value>
						<value>Dominio*</value>
						<value>Dominio*</value>
						<value>*Parametro*</value>
						<value>*Parametro</value>
						<value>Parametro*</value>-->
					</list>
				</property>
			</object>

		</objects>
	</spring>

	<system.runtime.remoting>
	</system.runtime.remoting>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<!--<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.VisualStudio.TextTemplating"
						  publicKeyToken="b03f5f7f11d50a3a"
						  culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535"
						 newVersion="10.0.0.0"/>
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>-->
</configuration>
