<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net" xmlns:wcf="http://www.springframework.net/wcf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.net/aop">

			<!--///////////////////////////////////////////////////////////////////////////////////////////////////-->

			<object id="RabbitTemplate" type="Spring.Messaging.Amqp.Rabbit.Core.RabbitTemplate, Spring.Messaging.Amqp.Rabbit">
				<constructor-arg>
					<object id="ConnectionFactory" type="Spring.Messaging.Amqp.Rabbit.Connection.CachingConnectionFactory, Spring.Messaging.Amqp.Rabbit">
						<property name="Host" value="192.168.0.16" />
						<property name="Port" value="5672" />
						<property name="VirtualHost" value="LogEngine" />
						<property name="UserName" value="LogEngineClient" />
						<property name="Password" value="LogEngineClient@123" />
					</object>
				</constructor-arg>
				<!-- The queue will be bound to the default direct exchange unless specified otherwise -->
				<!--<property name="Queue" value="LogEngineWrite.queue"/>-->
				<!--<property name="RoutingKey" value="LogEngineWrite.queue"/>-->
				<property name="Exchange" value="LogEngine.Exchange"/>
			</object>
			<!--///////////////////////////////////////////////////////////////////////////////////////////////////-->

			<!--<object id="xmlMessageConverter" type="Spring.Messaging.Support.Converters.XmlMessageConverter, Spring.Messaging">
				<property name="TargetTypes">
					<list>
						<value>System.String</value>
					</list>
				</property>
			</object>

			<object id="requestTxQueue" type="Spring.Messaging.Support.MessageQueueFactoryObject, Spring.Messaging">
				<property name="Path" value=".\Private$\LogEngine"/>
				<property name="MessageReadPropertyFilterSetAll" value="true"/>
				<property name="RemoteQueueIsTransactional" value="true"/>
				<property name="RemoteQueue" value="true"/>
			</object>

			<object id="messageQueueTemplate" type="Spring.Messaging.Core.MessageQueueTemplate, Spring.Messaging">
				<property name="DefaultMessageQueueObjectName" value="requestTxQueue"/>
				<property name="MessageConverterObjectName" value="xmlMessageConverter"/>
			</object> 
			
			<object id="Logger" type="Oragon.Architecture.Log.MSMQLogger, Oragon.Architecture.Log">
				<property name="Template" ref="messageQueueTemplate"/>
				<property name="AdditionalMetadata">
					<dictionary key-type="String" value-type="String">
						<entry key="MachineName" value="im1deve005" />
					</dictionary>
				</property>
			</object>-->

			<object id="Logger" type="Oragon.Architecture.Log.AMQPLogger, Oragon.Architecture">
				<property name="Template" ref="RabbitTemplate"/>
				<property name="AdditionalMetadata">
					<dictionary key-type="String" value-type="String">
						<entry key="MachineName" value="im1deve005"/>
					</dictionary>
				</property>
			</object>

		</objects>
	</spring>
	<connectionStrings>
	</connectionStrings>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
